.Question-init {
  display: none
}

.Question-2 {
  display: none
}

.Question-3 {
  display: none
}

.Question-4 {
  display: none
}

.Question-5 {
  display: none
}

.ResultsFrontEnd {
  display: none
}

.ResultsBackEnd {
  display: none
}

.ResultsApp {
  display: none
}
