img {
  max-width: 700px;
}

h1 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  text-shadow: 3px 3px 16px black;
}

h2 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  text-shadow: 3px 3px 16px black;
}

h4 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  text-shadow: 3px 3px 16px black;
}

h3 {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  text-shadow: 3px 3px 16px black;
}

h5 {
  font-family: 'Quattrocento Sans', sans-serif;
  color: white;
  text-shadow: 3px 3px 16px black;
}

p {
  font-size: 15px;
  color: white;
  text-shadow: 3px 3px 16px black;
}

body {
  background-image: url('../img/bck8.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

.h2quest {
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  padding-bottom: 10px;
}

.Question-init {
  display: none
}

.Question-2 {
  display: none
}

.Question-3 {
  display: none
}

.Question-4 {
  display: none
}

.Question-5 {
  display: none
}

.ResultsFrontEnd {
  display: none
}

.formQuiz {
  margin-left: 30px;
}


/* .container3 {
  background-image: url("https://imgur.com/mxqmAKv");
} */

.ResultsBackEnd {
  display: none
}

.ResultsApp {
  display: none
}

.intro {
  color: white;
  text-shadow: 3px 3px 16px black;
}

#italic {
  font-style: italic;
}

/* .button {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 15px 40px 0 rgba(0,0,0,0.14);
  padding-top: 10px;
  background-color: #00487C;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
} */

.button {
  border-radius: 4px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.14), 0 15px 40px 0 rgba(0,0,0,0.14);
  background-color: #210D1F;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  padding: 15px 32px;
  /* width: 200px; */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.containerButton {
  padding: 15px;
}

#inputBox {
  color: black;
}
